
/*background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(background.png);*/

body
{
	font-family:"Open Sans", sans-serif;
	background-color:RoyalBlue;
}
#historical-cipher
{
	width: 1600px;
	height: 900px;
	background-color:SkyBlue;
	margin: 0px auto;
	top: 0px;
	position: relative;
	border-radius:5px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.2);
}