
body
{
	font-family:"Open Sans", sans-serif;
	background-color:MidnightBlue;
}
#container
{
	width: 1600px;
	height: 900px;
	background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(background.png);
	margin: 20px auto;
}
#rot-13
{
	width: 800px;
	height: 450px;
	background-color:LightCyan;
	margin: 0px auto;
	top: 20px;
	position: relative;
	border-radius:5px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.2);
}